@charset "utf-8";
/* CSS Document */
*{
    mergin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
            

body{
	
	background-color:skyblue;
	background-image: url("speakers_61387581_download.jpg");
	background-position:center;
	background-size:cover;
	font-family: sans-serif;}

.div1{
	background:red;
	display:flex;
	
	
}
.div1 ul{
	mergin:0px;
	display:flex;
	padding:0 20px;
	list-style:none;
	color:black;
}
.div ul li{
	text-justify: auto;
	
	
	width:150px;
	mergin:0px;
	padding:0px;
}
.div1 ul li a{
	
	text-decoration:none;
	color:black;
	padding: 0 35px;
}
.home, .au,.div1 ul li:hover{
	background:white;
	border-radius: 3px;
	
	
	
	
}
.div1 .fa {
	padding:5px;
	mergin:10px;
		
}
.sub-menu{
	display:none;
}
.div1 ul li:hover .sub-menu{
	display:flex;
	
	background:yellow;
	mergin-top:30px;
	mergin-left:-30px;
	
		
}

.sub-menu ul { 
	align: center;
	
}
.div1 ul li:hover .sub-menu ul{
	display:grid;
	mergin:5px;
}
.div1 ul li:hover .sub-menu ul li {
	width:120px;
	top:600px;
	padding:10px;
	border-bottom: 1px dotted black;
	
	border-radius:2px;

	
}
.div1 ul li:hover .sub-menu ul li a:last-child{
	border-bottom:none;
	
}
.fa-angle-double-right{
	float:right;
	position:flex-end;
	
}
main{
    mergin: auto;
    border: 1px solid gray;
    display: grid;
    color: #A540DD;
    grid-template-rows: 60px 100px 200px 60px;
    grid-template-columns: repeat(3,1fr) 150px;
    grid-gap: 10px;
}
.div1{background-color:red;
	grid-column:1/-1;
	
}
.div2{background-color:blue;}
.div3{background-color:deepskyblue;}
.div4{background-color:black;}
.div5{background-color:green;
grid-row:2/4;
grid-column:4/5;}
.div6{background-color:greenyellow;
grid-column: 1/4}
.div7{background-color:blueviolet;
grid-column: 1/-1;}

.sub-menu ul li a{ justify-content: center;
	
}
